
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-nVa {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .navbar-vrg {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    width: 100%;
    height: 102.8rem;
    align-items: center;

    .auto-group-7xyw-5Dn {
      width: 100%;
      height: 10.6rem;
      position: relative;
      box-shadow: 0.5rem 0.5rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0 0 2rem 2rem;
      flex-shrink: 0;

      .rectangle-7-pSG {
        position: absolute;
        left: 31rem;
        top: 2.6rem;
        background-color: #d9d9d9;
        border-radius: 2rem;
        width: 42.4rem;
        height: 5.5rem;
      }
      .rectangle-8-LQc {
        height: 5.5rem;
        position: absolute;
        left: 64.4rem;
        top: 2.6rem;
        background-color: #fba834;
        border-radius: 2rem;
        width: 9rem;
      }
      .search-4bW {
        white-space: nowrap;
        width: 6.2rem;
        position: absolute;
        left: 65.8rem;
        font-size: 2rem;
        color: #ffffff;
        height: 2.4rem;
        top: 4.2rem;
        font-weight: 400;
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
      }
      .home-Yma {
        left: 97rem;
        top: 4rem;
        font-weight: 400;
        line-height: 1.1725;
        white-space: nowrap;
        width: 5.4rem;
        height: 2.4rem;
        position: absolute;
        font-size: 2rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .menu-Ffz {
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        width: 5.1rem;
        position: absolute;
        top: 4.2rem;
        font-size: 2rem;
        height: 2.4rem;
        left: 109.5rem;
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
      }
      .group-12-k6x {
        align-items: center;
        width: 130.3rem;
        height: 7.1rem;
        position: absolute;
        left: 6.3rem;
        top: 1.5rem;
        display: flex;

        .fast-food-59E {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 7.1rem;
          height: 7.1rem;
        }
        .auto-group-gqfv-DFS {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 0rem 1rem 19.4rem;
          height: 100%;

          .magnifying-glass-jja {
            height: 2.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.4rem 85.9rem 0rem 0rem;
            width: 2.6rem;
          }
          .shopping-cart-coN {
            flex-shrink: 0;
            margin: 0.5rem 7.4rem 0rem 0rem;
            width: 4.1rem;
            height: 4.1rem;
            object-fit: cover;
            vertical-align: top;
          }
          .user-ocx {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            width: 3.8rem;
            height: 3.8rem;
          }
        }
      }
    }
    .auto-group-inma-r5S {
      box-sizing: border-box;
      padding: 3.9rem 19rem 13.8rem 20.7rem;
      width: 100%;
      height: 92.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-thup-xPN {
        line-height: 1.2125;
        color: #fc9300;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: calc(100% - 61.2232rem);
        font-size: 4.8rem;
        padding-left: 19.9768rem;
        font-weight: 700;
        flex-shrink: 0;
        margin: 0rem 41.4rem 2.4rem 19.823rem;
        box-sizing: border-box;
      }
      .auto-group-iuwc-2e8 {
        width: 100%;
        height: 30.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 4.5rem;

        .auto-group-n8ng-Ze4 {
          margin-right: 11.3rem;
          width: 24.1rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-16-BQY {
            width: 24.1rem;
            height: 30.7rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffff;
            border-radius: 2rem;
          }
          .image-KFr {
            left: 2.7rem;
            top: 2.3rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            width: 18.5388rem;
            height: 19.9911rem;
            position: absolute;
          }
          .samosa-e3E {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            height: 2.5rem;
            left: 8.1rem;
            top: 24.4rem;
            width: 7.9rem;
          }
          .rs-20-9Vn {
            width: 4.5rem;
            top: 27.3rem;
            font-size: 1.5rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.9rem;
            position: absolute;
            left: 9.8rem;
            font-weight: 400;
            color: #000000;
          }
          .plus-GKW {
            width: 1.9rem;
            height: 1.9rem;
            position: absolute;
            left: 19.7rem;
            top: 25.7rem;
            object-fit: cover;
            vertical-align: top;
          }
          .minus-sign-Cix {
            height: 1.6rem;
            position: absolute;
            left: 3.1rem;
            top: 25.7rem;
            object-fit: cover;
            vertical-align: top;
            width: 1.9rem;
          }
        }
        .auto-group-3cgl-L4U {
          margin-right: 16.8rem;
          width: 28rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .image-roW {
            height: 19.9911rem;
            position: absolute;
            left: 0;
            top: 2.3rem;
            box-shadow: 0.1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 1rem;
            width: 18.5388rem;
          }
          .rectangle-26-m9n {
            border-radius: 2rem;
            width: 24.1rem;
            height: 30.7rem;
            position: absolute;
            left: 3.9rem;
            top: 0;
            background-color: #ffffff;
          }
          .chowmin-hJL {
            font-family: Inter, 'Source Sans Pro';
            top: 24.4rem;
            font-size: 2rem;
            font-weight: 700;
            color: #000000;
            line-height: 1.2125;
            white-space: nowrap;
            width: 9.3rem;
            height: 2.5rem;
            position: absolute;
            left: 12rem;
          }
          .rs-50-ocG {
            top: 27.3rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 4.5rem;
            height: 1.9rem;
            position: absolute;
            left: 13.7rem;
          }
          .plus-K4p {
            width: 1.9rem;
            height: 1.9rem;
            position: absolute;
            left: 23.6rem;
            top: 25.7rem;
            object-fit: cover;
            vertical-align: top;
          }
          .minus-sign-qor {
            object-fit: cover;
            vertical-align: top;
            width: 1.9rem;
            height: 1.6rem;
            position: absolute;
            left: 7rem;
            top: 25.7rem;
          }
          .group-10-nDJ {
            left: 6.7rem;
            top: 2.3rem;
            border-radius: 1rem;
            width: 18.539rem;
            height: 19.991rem;
            position: absolute;

            .group-2-KU8 {
              width: 100%;
              height: 100%;
              border-radius: 1rem;

              .image-Hfr {
                width: 18.539rem;
                height: 19.991rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
              }
            }
          }
        }
        .group-13-1Lx {
          padding: 2.5rem 2.5rem 1.5rem 2.9rem;
          width: 24.1rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 2rem;
          box-sizing: border-box;
          flex-shrink: 0;

          .image-jnk {
            margin: 0rem 0.161rem 1.909rem 0rem;
            width: 18.539rem;
            height: 19.991rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .auto-group-dqql-s8G {
            height: 4.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: 0.2rem;

            .minus-sign-QP6 {
              width: 1.9rem;
              height: 1.6rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 3.1rem 0.6rem 0rem;
            }
            .auto-group-wm4g-LGk {
              flex-shrink: 0;
              margin-right: 4.3rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .pakoda-t3N {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2125;
              }
              .rs-50-cEG {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-left: 0.6rem;
              }
            }
            .plus-wXS {
              flex-shrink: 0;
              margin-bottom: 0.3rem;
              width: 1.9rem;
              height: 1.9rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .auto-group-ejqv-rPW {
        width: calc(100% - 0.8rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0 0.4rem;

        .group-15-BRn {
          box-sizing: border-box;
          padding: 2.8rem 2.5rem 2.1rem 2.7rem;
          width: 24.1rem;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 14.7rem;
          display: flex;
          background-color: #ffffff;
          border-radius: 2rem;
          align-items: center;

          .image-6oe {
            width: 18.539rem;
            height: 19.991rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0rem 0.361rem 1.509rem 0rem;
          }
          .auto-group-kabn-QpL {
            align-items: center;
            flex-shrink: 0;
            margin-left: 0.4rem;
            height: 4.3rem;
            display: flex;

            .minus-sign-YvY {
              width: 1.9rem;
              height: 1.6rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 4.2rem 0rem 0rem;
            }
            .auto-group-ikdn-H7S {
              margin-right: 5rem;
              width: 5.5rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .pasta-RUY {
                font-family: Inter, 'Source Sans Pro';
                left: 0;
                top: 0;
                font-size: 2rem;
                font-weight: 700;
                color: #000000;
                width: 5.5rem;
                height: 2.5rem;
                position: absolute;
                line-height: 1.2125;
                white-space: nowrap;
              }
              .rs-20-kWp {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                width: 4.5rem;
                left: 0.5rem;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.2125;
                white-space: nowrap;
                height: 1.9rem;
                position: absolute;
                top: 2.4rem;
              }
            }
            .plus-rpk {
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.4rem;
              width: 1.9rem;
              height: 1.9rem;
              object-fit: cover;
            }
          }
        }
        .auto-group-nza4-yuN {
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 2rem;
          padding: 2.5rem 3rem 2.3rem 2.3rem;
          display: flex;
          width: 24.1rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0.3rem 16.5rem 0rem 0rem;
          box-sizing: border-box;

          .rectangle-26-U5S {
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0rem 0.261rem 1.809rem 0rem;
            width: 18.539rem;
            height: 19.991rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-9zvg-NRi {
            align-items: center;
            flex-shrink: 0;
            margin-left: 0.8rem;
            height: 4.1rem;
            display: flex;

            .minus-sign-K64 {
              margin: 0.3rem 3.7rem 0rem 0rem;
              width: 1.9rem;
              height: 1.6rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-dv3e-Eip {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              margin-right: 4.3rem;
              width: 6.2rem;

              .momo-b3a {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2125;
                left: 0;
                top: 0;
                width: 6.2rem;
                height: 2.5rem;
                position: absolute;
              }
              .rs-50-KEU {
                left: 0.8rem;
                top: 2.2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                white-space: nowrap;
                width: 4.5rem;
                position: absolute;
                font-size: 1.5rem;
                font-family: Inter, 'Source Sans Pro';
                height: 1.9rem;
              }
            }
            .plus-ph2 {
              margin-top: 0.4rem;
              width: 1.9rem;
              height: 1.9rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-nbe4-Y7E {
          flex-shrink: 0;
          width: 24.1rem;
          height: 30.7rem;
          position: relative;

          .plus-tB6 {
            width: 1.9rem;
            height: 1.9rem;
            position: absolute;
            left: 20.7rem;
            top: 27.7rem;
            object-fit: cover;
            vertical-align: top;
          }
          .rectangle-27-Qv8 {
            width: 24.1rem;
            height: 30.7rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffff;
            border-radius: 2rem;
          }
          .burger-9si {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2125;
            white-space: nowrap;
            height: 2.5rem;
            position: absolute;
            left: 8.6rem;
            top: 24.3rem;
            width: 6.7rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .plus-UQC {
            top: 25.9rem;
            object-fit: cover;
            vertical-align: top;
            width: 1.9rem;
            height: 1.9rem;
            position: absolute;
            left: 19.9rem;
          }
          .rs-30-oxG {
            top: 27rem;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            width: 4.5rem;
            position: absolute;
            left: 9.7rem;
            font-family: Inter, 'Source Sans Pro';
            height: 1.9rem;
            font-size: 1.5rem;
            color: #000000;
          }
          .minus-sign-jL8 {
            object-fit: cover;
            vertical-align: top;
            width: 1.9rem;
            height: 1.6rem;
            position: absolute;
            left: 3.9rem;
            top: 26.1rem;
          }
          .rectangle-30-4tC {
            border-radius: 1rem;
            width: 18.539rem;
            height: 19.991rem;
            position: absolute;
            left: 3.1rem;
            top: 2.8rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
  }
}
