
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-zb6 {
  padding: 9.6rem 4.9rem 15.6rem 4.9rem;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #fffcf3;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  .signup-J5z {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 4.8rem 48.9rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2125;
  }
  .auto-group-ftde-p4L {
    width: calc(100% - 15.5rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 15.5rem 1rem 0rem;

    .item-331-1-wue {
      background-size: 98.67% 100.671%;
      background-position: 0.6261rem -1.0929rem;
      background-image: url('REPLACE_IMAGE:8079abf761a9055ff0bcb9021e4e85bda563f4cd');
      flex-shrink: 0;
      margin: 2.4rem 6.8rem 0rem 0rem;
      width: 62.3rem;
      height: 47.6rem;
      position: relative;
    }
    .auto-group-861i-pCk {
      width: 49.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-pkqg-MiU {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        background-color: #eaeaea;
        border-radius: 1.5rem;
        margin-bottom: 4.7rem;
        width: 100%;
        font-size: 2.4rem;
        font-weight: 300;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.8rem 3.9rem 2.6rem 3.9rem;
      }
      .auto-group-msat-dfz {
        padding: 2.8rem 3.9rem 2.6rem 3.9rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 1.5rem;
        box-sizing: border-box;
        width: 100%;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #000000;
        background-color: #eaeaea;
        flex-shrink: 0;
        margin-bottom: 4.7rem;
      }
      .auto-group-cc8u-v9J {
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 2.8rem 4.1rem 2.6rem 3.9rem;
        width: 100%;
        background-color: #eaeaea;
        border-radius: 1.5rem;
        flex-shrink: 0;

        .password-e5J {
          font-size: 2.4rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 28.2rem;
        }
        .vector-NGC {
          margin-bottom: 1rem;
          width: 2.5rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-yjyn-HPA {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #eaeaea;
        border-radius: 1.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.8rem 4.1rem 2.6rem 3.9rem;

        .confirm-password-1a4 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 18.6rem;
          font-size: 2.4rem;
          font-weight: 300;
        }
        .vector-8ua {
          margin-bottom: 0.4rem;
          width: 2.5rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-ggse-rKn {
    width: calc(100% - 100.5rem);
    font-size: 2.4rem;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
    align-items: baseline;
    margin: 0rem 25.2rem 4.6rem 75.3rem;
    height: 3.2rem;
    line-height: 1.2125;
    color: #000000;
    border-bottom: solid 0.3rem #0000ff;
    display: flex;
    box-sizing: border-box;
    flex-shrink: 0;
    white-space: nowrap;

    .auto-group-ggse-rKn-sub-0 {
    }
    .auto-group-ggse-rKn-sub-1 {
      line-height: 1.2125;
      color: #0000ff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 300;
    }
    .auto-group-ggse-rKn-sub-2 {
      font-weight: 300;
      line-height: 1.2125;
      color: #0404f7;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.4rem;
    }
  }
  .auto-group-k25i-L1z {
    height: 7.7rem;
    color: #000000;
    background-color: #fba834;
    width: calc(100% - 112.9rem);
    font-weight: 800;
    border-radius: 1.6rem;
    flex-shrink: 0;
    margin: 0rem 30.5rem 0rem 82.4rem;
    font-size: 3.2rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    line-height: 1.2125;
    align-items: center;
    justify-content: center;
  }
}
