
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-e8C {
  padding: 9.6rem 47.5rem 13.7rem 40.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: #fffcf3;
  box-sizing: border-box;
  align-items: center;
  display: flex;

  .personal-details-kBE {
    flex-shrink: 0;
    margin: 0rem 0rem 7.5rem 2.5rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-hyqn-qiU {
    white-space: nowrap;
    margin-bottom: 6.8rem;
    padding: 2.8rem 4.6rem 2.6rem 4.6rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    border-radius: 1.5rem;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 300;
    background-color: #eaeaea;
  }
  .auto-group-u8cu-Jrx {
    font-weight: 300;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #eaeaea;
    flex-shrink: 0;
    margin-bottom: 5.3rem;
    padding: 2.8rem 4.6rem 2.6rem 4.6rem;
    font-size: 2.4rem;
    color: #000000;
    border-radius: 1.5rem;
    box-sizing: border-box;
    width: 100%;
  }
  .auto-group-6gza-nn8 {
    font-family: Inter, 'Source Sans Pro';
    margin-bottom: 5.5rem;
    box-sizing: border-box;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    background-color: #eaeaea;
    padding: 1.9rem 4.6rem 3.5rem 4.6rem;
    width: 100%;
    border-radius: 1.5rem;
    flex-shrink: 0;
  }
  .auto-group-92hr-sYg {
    padding: 2.8rem 4.6rem 2.6rem 4.6rem;
    line-height: 1.2125;
    white-space: nowrap;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 300;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    background-color: #eaeaea;
    border-radius: 1.5rem;
    margin-bottom: 6.8rem;
  }
  .auto-group-bn28-mPA {
    flex-shrink: 0;
    width: calc(100% - 32rem);
    white-space: nowrap;
    align-items: center;
    border-radius: 1.6rem;
    background-color: #fba834;
    height: 7.7rem;
    font-size: 3.2rem;
    font-weight: 800;
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
    margin: 0rem 17.3rem 0rem 14.7rem;
    line-height: 1.2125;
    color: #000000;
    display: flex;
  }
}
