
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 456.6rem;
}.frame-2-yXA {
  width: 100%;
  height: 365rem;

  .menu-wD6 {
    box-sizing: border-box;
    padding: 60.4rem 25.2rem 8.6rem 36.3rem;
    position: relative;
    column-gap: 12rem;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;

    .group-9-qZN {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 4.8rem;
      width: 122.3rem;
      height: 291.2rem;

      .group-1-B7S {
        width: 122.3rem;
        position: absolute;
        left: 0;
        align-items: center;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 16.8rem 11.4rem 8.8rem 11.4rem;
        display: flex;
        flex-direction: column;
        height: 151.2rem;
        top: 0;

        .auto-group-jkp2-g4C {
          height: 93.6rem;
          background-size: 100% 100%;
          background-position: center;
          background-image: url('REPLACE_IMAGE:a4b8ada6c4623c6fccaf17f46ee824eeae523618');
          border-radius: 3rem;
          margin: 0rem 12.7rem 6.7rem 0rem;
          box-sizing: border-box;
          padding-left: 77.2rem;
          background-repeat: no-repeat;
          flex-shrink: 0;

          .rectangle-25-o8p {
            object-fit: cover;
            vertical-align: top;
            width: 9.6rem;
            height: 9.6rem;
          }
        }
        .samosa-6Np {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 6.2rem 4.3rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .auto-group-tgza-cMA {
          margin-right: 12.7rem;
          box-sizing: border-box;
          border-radius: 0.5rem;
          flex-shrink: 0;
          flex-direction: column;
          background-color: rgba(128, 128, 128, 0.2700000107);
          padding: 2.4rem 3.4rem 2.4rem 41.3rem;
          width: 86.8rem;
          align-items: flex-end;
          display: flex;

          .auto-group-w2hs-84c {
            margin: 0rem 0.4rem 1.2rem 0rem;
            width: calc(100% - 0.4rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .rs-20-eoe {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 3rem 28.4rem 0rem 0rem;
              font-size: 3.2rem;
            }
            .image-3-xpL {
              width: 3.8rem;
              height: 3.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .image-2-VpG {
            width: 4.2rem;
            height: 4.2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-4-QgL {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 16.8rem 11.4rem 8.8rem 11.4rem;
        height: 151.2rem;
        position: absolute;
        left: 0;
        top: 140rem;
        background-color: #ffffff;
        box-sizing: border-box;
        width: 122.3rem;

        .auto-group-p8zg-hfS {
          border-radius: 3rem;
          flex-shrink: 0;
          margin: 0rem 12.7rem 6.7rem 0rem;
          box-sizing: border-box;
          height: 93.6rem;
          background-position: center;
          padding: 1.3rem 1.7rem 1.3rem 75.5rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:056458fd69b4e34bb2e8da20ad0514d9277e277f');

          .rectangle-25-cXW {
            width: 9.6rem;
            height: 9.6rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .pakoda-8Vr {
          margin: 0rem 7rem 4.3rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-y6ap-G6G {
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.4rem 3.4rem 2.4rem 41.3rem;
          align-items: flex-end;
          background-color: rgba(128, 128, 128, 0.2700000107);
          margin-right: 12.7rem;
          width: 86.8rem;
          display: flex;

          .auto-group-wenp-ack {
            width: calc(100% - 0.4rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 0.4rem 1.2rem 0rem;

            .rs-20-iDA {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 3rem 28.4rem 0rem 0rem;
              font-size: 3.2rem;
              font-weight: 400;
            }
            .image-3-Sex {
              width: 3.8rem;
              height: 3.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .image-2-zgU {
            width: 4.2rem;
            height: 4.2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .group-10-hqn {
      flex-shrink: 0;
      margin-bottom: 2.4rem;
      width: 126.5rem;
      height: 293.6rem;
      position: relative;

      .group-5-rTn {
        align-items: center;
        flex-direction: column;
        padding: 16.8rem 11.4rem 8.8rem 11.4rem;
        width: 122.3rem;
        left: 4.2rem;
        top: 142.4rem;
        background-color: #ffffff;
        box-sizing: border-box;
        height: 151.2rem;
        position: absolute;
        display: flex;

        .auto-group-teay-YrQ {
          padding: 0.3rem 0rem 0.3rem 77.2rem;
          background-position: center;
          border-radius: 3rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:9046776d403ceb7ed03b7310095579a8f70d0871');
          flex-shrink: 0;
          margin: 0rem 12.7rem 6.7rem 0rem;
          box-sizing: border-box;
          height: 93.6rem;

          .rectangle-25-s7z {
            width: 9.6rem;
            height: 9.6rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .aalu-tarkari-P6L {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.5rem 4.3rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .auto-group-iydv-HSc {
          border-radius: 0.5rem;
          box-sizing: border-box;
          width: 86.8rem;
          background-color: rgba(128, 128, 128, 0.2700000107);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 12.7rem;
          padding: 2.4rem 3.4rem 2.4rem 41.3rem;
          align-items: flex-end;

          .auto-group-txfs-oA4 {
            margin: 0rem 0.4rem 1.2rem 0rem;
            width: calc(100% - 0.4rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .rs-20-Xbr {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 3rem 28.4rem 0rem 0rem;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .image-3-re8 {
              flex-shrink: 0;
              width: 3.8rem;
              height: 3.8rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .image-2-BwJ {
            width: 4.2rem;
            height: 4.2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-2-Y9a {
        padding: 16.8rem 11.4rem 8.8rem 11.4rem;
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 122.3rem;
        height: 151.2rem;
        position: absolute;
        left: 0;
        background-color: #ffffff;

        .auto-group-7smv-SEx {
          background-repeat: no-repeat;
          flex-shrink: 0;
          background-size: 100% 100%;
          box-sizing: border-box;
          padding: 1.2rem 0rem 1.2rem 77.2rem;
          height: 93.6rem;
          background-position: center;
          background-image: url('REPLACE_IMAGE:0501fc2e3efce0ddd15f2d848e75154b22bfd757');
          border-radius: 3rem;
          margin: 0rem 12.7rem 6.7rem 0rem;

          .rectangle-25-YYt {
            height: 9.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 9.6rem;
          }
        }
        .chowmein-rZa {
          flex-shrink: 0;
          margin: 0rem 2.3rem 4.3rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-k1j2-aVa {
          padding: 2.4rem 3.4rem 2.4rem 41.3rem;
          align-items: flex-end;
          flex-direction: column;
          background-color: rgba(128, 128, 128, 0.2700000107);
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 12.7rem;
          width: 86.8rem;
          display: flex;
          box-sizing: border-box;

          .auto-group-onjg-JRa {
            flex-shrink: 0;
            margin: 0rem 0.4rem 1.2rem 0rem;
            width: calc(100% - 0.4rem);
            display: flex;
            align-items: flex-start;

            .rs50-2sN {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 3rem 29.3rem 0rem 0rem;
              font-size: 3.2rem;
            }
            .image-3-mKA {
              width: 3.8rem;
              height: 3.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .image-2-K5n {
            width: 4.2rem;
            height: 4.2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-anri-1zC {
      height: 293.6rem;
      position: relative;
      flex-shrink: 0;
      width: 122.3rem;

      .group-6-yAL {
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        padding: 16.5rem 11.4rem 9.1rem 11.4rem;
        height: 151.2rem;
        position: absolute;
        top: 142.4rem;
        display: flex;
        box-sizing: border-box;
        width: 122.3rem;
        left: 0;

        .auto-group-x3ss-Usn {
          margin: 0rem 12.7rem 6.7rem 0rem;
          background-size: 100% 100%;
          background-position: center;
          border-radius: 3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.1rem 0rem 0.1rem 77.2rem;
          height: 93.6rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:ccbdf33dc414f34601de9a9e5aac15ea08842de6');

          .rectangle-25-CHz {
            vertical-align: top;
            width: 9.6rem;
            height: 9.6rem;
            object-fit: cover;
          }
        }
        .frooti-K7i {
          flex-shrink: 0;
          margin: 0rem 10.2rem 4.3rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-8ckl-csW {
          border-radius: 0.5rem;
          flex-shrink: 0;
          align-items: flex-end;
          flex-direction: column;
          background-color: rgba(128, 128, 128, 0.2700000107);
          width: 86.8rem;
          display: flex;
          margin-right: 12.7rem;
          box-sizing: border-box;
          padding: 2.4rem 3.4rem 2.4rem 41.3rem;

          .auto-group-ywhv-LHi {
            margin: 0rem 0.4rem 1.2rem 0rem;
            width: calc(100% - 0.4rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .rs-30-sHe {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 3rem 28.3rem 0rem 0rem;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
            .image-3-bUY {
              width: 3.8rem;
              height: 3.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .image-2-8jN {
            vertical-align: top;
            flex-shrink: 0;
            width: 4.2rem;
            height: 4.2rem;
            object-fit: cover;
          }
        }
      }
      .group-3-exc {
        top: 0;
        background-color: #ffffff;
        width: 122.3rem;
        height: 151.2rem;
        position: absolute;
        left: 0;
        flex-direction: column;
        box-sizing: border-box;
        padding: 16.8rem 11.4rem 8.8rem 11.4rem;
        align-items: center;
        display: flex;

        .auto-group-kxal-KYx {
          background-image: url('REPLACE_IMAGE:d64bf9b1d13e1c34523843e2edcbfc31e1a80c2d');
          border-radius: 3rem;
          box-sizing: border-box;
          height: 93.6rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;
          margin: 0rem 12.7rem 6.7rem 0rem;
          padding: 0.7rem 0rem 0.7rem 77.2rem;

          .rectangle-25-A3n {
            width: 9.6rem;
            height: 9.6rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .pasta-E3e {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 9.8rem 4.3rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
        }
        .auto-group-psec-M8G {
          background-color: rgba(128, 128, 128, 0.2700000107);
          box-sizing: border-box;
          padding: 2.4rem 3.4rem 2.4rem 41.3rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 12.7rem;
          width: 86.8rem;

          .auto-group-udj4-FzL {
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 0.4rem 1.2rem 0rem;
            width: calc(100% - 0.4rem);
            display: flex;

            .rs50-B7J {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 3rem 29.3rem 0rem 0rem;
              font-size: 3.2rem;
              font-weight: 400;
            }
            .image-3-JSp {
              width: 3.8rem;
              height: 3.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .image-2-qxY {
            width: 4.2rem;
            height: 4.2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
